.card_container {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  overflow: auto;

}

.card {
  background-color: var(--cardBg);
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px 10px;
  display: inline-block;
  position: relative;
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 25px;
  min-height: 250px;
}

.card__tag {
  background-color: var(--card-tag);
  color: #939393;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  padding: 2px 10px;
  text-transform: uppercase;
}

.card__title {
  font-family: 'Open Sans', arial, verdana, sans-serif;
  color: var(--card-title);
  margin: 20px 0 0 0;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {

  .card__title {
  font-size: 14px;
  }
}

.card__txt {
  font-size: 14px;
  line-height: 1.2;
  padding: 6px 0 4px;
  color: var(--card-txt);
}

.card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
}

.card__user--name {
  font-family: 'Open Sans', arial, verdana, sans-serif;
  color: var(--card-user-txt);
  font-size: 18px;
}

.card__user--time {
  font-size: 12px;
  color: #9f9f9f;
}

.card__user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

.card__link {
  position: absolute;
  width: 100%;
  background-color: var(--card-link-bg);
  bottom: 0;
  right: 0;
  padding: 4px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: .7rem;
  margin: 6px 0 0 0;
  text-decoration: none;
  color: var(--card-link-txt);
}

.card2 {
  border: 2px solid #9caef4;
}

label.card__like {
  position: absolute;
  top: 10px;
  right: 20px;
  /* padding: 0.2em; */
}

.card__label--text {
  font-size: 35px;
}

label input[type="checkbox"] {
  display: none;
  opacity: 0;
}

input[type=checkbox] + .card__label--text::before {
  content: "★";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  color: silver;
  padding: 0 2px 0 0;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  -webkit-font-smoothing: antialiased;
}

input[type="checkbox"]:checked + .card__label--text::before {
  content: "★";
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  color: #369;
  -webkit-animation: chkBox .4s ease-in;
          animation: chkBox .4s ease-in;
}

@-webkit-keyframes chkBox {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes chkBox {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.topInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 0 10px 0;
}

.topInfo__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 200px;
  margin: 0 10px 0 0;
}

.topInfo__item--sub {
  color: var(--topInfo-field);
  margin: 6px 0;
}

.topInfo__item--txt {
  font-size: .8rem;
  color: var(--topInfo-value);
}

.topInfo .search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.topInfo .bttn,
.topInfo .bttn_pri,
.topInfo__bttn {
  margin: 0;
  padding: 8px 10px;
  font-size: .8rem;
  height: 36px;
  margin: 0 10px;
}

.bttn_pri a {
  text-decoration: none;
}

.padding20 {
  padding: 20px 0 0 0;
}

.topInfo__item--select {
  width: 300px;
  padding: 6px 6px 6px 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media screen and (max-width: 760px) {
  .topInfo .bttn,
  .topInfo .bttn_pri,
  .topInfo__item--btn {
    text-align: center;
    margin: 4px auto;
  }
  .topInfo .search {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .topInfo__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0 0 0 0;
  }
}
/*# sourceMappingURL=card.css.map */